@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat';
    background-color: #121212;
    color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 80%;
}

button {
    padding: 10px 20px;
    background-color: #00bcd4;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #008c9e;
}

.error {
    color: #e7e05b;
    font-size: 14px;
}